<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ホーム</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header class="header">
    <h1 class="home-title">時間割アプリ ホーム</h1>
    </header>

  <main class="main">
    <div class="home-links">
      <a href="{{ url_for('timetable') }}" class="card">📅 自分の時間割</a>
      
      <a href="#" class="card">⭐ お気に入り授業（準備中）</a>
      <a href="#" class="card">💬 コメント（準備中）</a>
      <a href="#" class="card">🔍 授業検索（準備中）</a>
    </div>
  </main>
</body>
</html>